@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700;800;900&display=swap');

:root {
    --bg-main: #E9E9E9;
    --bg-primary: #FFFFFF;
    --bg-secondary: #F8F8F8;
    --color-primary: #0c0c0c;
    --color-secondary: #5e5e5e;
    --color-active: #363636;
    --accent-primary: #0e174e;
    --accent-secondary: #75a3e9;
    --space: 16px;
    --border-radius: 12px;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    color: var(--color-primary);
}


::-webkit-scrollbar-thumb,
::-webkit-scrollbar {
    background-color: #00000011;
    border-radius: var(--border-radius);
    width: 6px;
}



.wrapper {
    background-color: var(--bg-main);
    height: 100vh;
    padding: var(--space);
    display: grid;
    grid-template-columns: 220px 1fr 200px;
    grid-template-rows: 120px 1fr;
    gap: var(--space);
}

/* .wrapper > * {
    overflow-y: auto;
} */

a {
    color: var(--accent-secondary);
}

svg, img {
    max-height: 100%;
}

/* SIDEBAR */

.sidebar {
    background-color: var(--bg-secondary);
    grid-area: 1 / 1 / 3 / 2;
    border-radius: var(--border-radius);
    padding: var(--border-radius);

    position: relative;
}

.sidebar .logo {
    display: flex;
    gap: 6px;
    align-items: center;
    height: 30px;
    margin: 12px 4px;
    color: var(--accent-primary);
    text-decoration: none;
}

.logo svg {
    fill: var(--accent-primary);
}

.sidebar-section {
    margin: 42px 10px;
}

.sidebar-item {
    display: flex;
    gap: 6px;
    align-items: center;
    height: 20px;
    margin-bottom: var(--space);
    color: var(--color-secondary);
    cursor: pointer;
}

.sidebar-item svg {
    fill: var(--color-secondary);
}

.sidebar-item.active, .sidebar-item:hover {
    color: var(--color-active);
    font-weight: 600;
}

.sidebar-item.active svg, .sidebar-item:hover svg {
    fill: var(--color-active);
}

.sidebar-footer {
    font-size: .9rem;
    position: absolute;
    margin-bottom: var(--space);
    bottom: 0;
}

/* NAVBAR */

.nav {
    background-color: var(--bg-primary);
    grid-area: 1 / 2 / 2 / 4;
    border-radius: var(--border-radius);
    padding: var(--space);
}

.nav-row {
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-flow: column;
    gap: var(--space);
    margin-bottom: 8px;
    align-items: center;
}

.nav-search {
    height: 26px;
    display: flex;
    align-items: center;
}

.search-btn {
    height: 26px;
    width: 26px;
    padding: 6px;
    outline-color: transparent;
    border: transparent;
    cursor: pointer;
    background-color: var(--bg-secondary);
    border-radius: 
    var(--border-radius)
    0
    0
    var(--border-radius);
}

.nav-search input {
    width: 100%;
    height: 100%;
    border: 1px solid var(--bg-secondary);
    background-color: var(--bg-secondary);
    padding: 6px 12px;
    border-radius: 0
    var(--border-radius)
    var(--border-radius)
    0;
}

.nav-search input:focus {
    outline-color: var(--accent-secondary);
}

.nav-btn {
    height: 32px;
    width: 32px;
    padding: 6px;
    outline-color: transparent;
    border: transparent;
    border-radius: 50%;
    cursor: pointer;
    background-color: var(--bg-secondary);
    transition: background-color .3s ease;
}

.nav-btn:hover {
    background-color: var(--bg-main);
}

.nav-btn:active {
    background-color: var(--bg-primary);
}

.nav-btn:focus {
    outline: var(--color-secondary);
}

.user-info {
    display: flex;
    align-items: center;
    gap: 12px;
}

.user-info img {
    height: 48px;
    border-radius: 50%;
}

.nav-action {
    padding: calc(var(--space) / 2) var(--space);
    border-radius: var(--border-radius);
    border: 1px solid transparent;
    background-color: var(--accent-secondary);
    color: var(--bg-secondary);
    cursor: pointer;
    transition: filter .2s ease;
}

.nav-action:hover {
    filter: brightness(1.08);
}

.nav-action:active {
    transform: scale(1.01);
}

.nav-action:focus {
    outline-color: var(--accent-primary);
}


/* MAIN */

.main {
    background-color: var(--bg-primary);
    grid-area: 2 / 2 / 3 / 3;
    border-radius: var(--border-radius);
}

/* INFO */

.info {
    background-color: var(--bg-primary);
    grid-area: 2 / 3 / 3 / 4;
    border-radius: var(--border-radius);
}