@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700;800;900&display=swap');

:root {
    --bg-main: #E9E9E9;
    --bg-primary: #FFFFFF;
    --bg-secondary: #F8F8F8;
    --color-primary: #0c0c0c;
    --color-secondary: #5e5e5e;
    --color-active: #363636;
    --accent-primary: #0e174e;
    --accent-secondary: #75a3e9;
    --space: 16px;
    --border-radius: 12px;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    color: var(--color-primary);
}

.wrapper {
    background-color: var(--bg-main);
    min-height: 100vh;
    padding: var(--space);
    display: grid;
    grid-template-columns: auto minmax(150px, 2fr) minmax(100px, 1fr);
    grid-template-rows: auto 1fr;
    gap: var(--space);
}

a {
    color: var(--accent-secondary);
}

svg, img {
    max-height: 100%;
}

/* SIDEBAR */

.sidebar {
    background-color: var(--bg-secondary);
    grid-area: 1 / 1 / 3 / 2;
    border-radius: var(--border-radius);
    padding: var(--space);

    position: relative;
}

.sidebar .logo {
    display: flex;
    gap: 6px;
    align-items: center;
    margin: 12px 4px;
    color: var(--accent-primary);
    text-decoration: none;
}

.logo svg {
    fill: var(--accent-primary);
    width: 32px;
}

.sidebar-section {
    margin: 42px 10px;
}

.sidebar-item {
    display: flex;
    gap: 6px;
    align-items: center;
    margin-bottom: var(--space);
    color: var(--color-secondary);
    cursor: pointer;
}

.sidebar-item svg {
    fill: var(--color-secondary);
    width: 20px;
}

.sidebar-item.active, .sidebar-item:hover {
    color: var(--color-active);
    font-weight: 600;
}

.sidebar-item.active svg, .sidebar-item:hover svg {
    fill: var(--color-active);
}

.sidebar-footer {
    font-size: .9rem;
    position: absolute;
    margin-bottom: var(--space);
    bottom: 0;
}

/* NAVBAR */

.nav {
    background-color: var(--bg-primary);
    grid-area: 1 / 2 / 2 / 4;
    border-radius: var(--border-radius);
    padding: var(--space);
}

.nav-row {
    display: grid;
    grid-template-columns: minmax(150px, 1fr);
    grid-auto-flow: column;

    gap: var(--space);
    margin-bottom: 8px;
    align-items: center;
}

.nav-search {
    height: 32px;
    display: flex;
    align-items: center;
}

.search-btn {
    height: 32px;
    width: 32px;
    padding: 6px;
    outline-color: transparent;
    border: transparent;
    cursor: pointer;
    background-color: var(--bg-secondary);
    border-radius: 1000px 0 0 1000px;
}

.nav-search input {
    width: 90%;
    height: 100%;
    border: 1px solid var(--bg-secondary);
    background-color: var(--bg-secondary);
    padding: 6px 12px;
    border-radius: 0 1000px 1000px 0;
}

.nav-search input:focus {
    outline-color: var(--accent-secondary);
}

.nav-btn {
    height: 32px;
    width: 32px;
    padding: 6px;
    outline-color: transparent;
    border: transparent;
    border-radius: 50%;
    cursor: pointer;
    background-color: var(--bg-secondary);
    transition: background-color .3s ease;
}

.nav-btn:hover {
    background-color: var(--bg-main);
}

.nav-btn:active {
    background-color: var(--bg-primary);
}

.nav-btn:focus {
    outline: var(--color-secondary);
}

.user-info {
    display: flex;
    align-items: center;
    gap: 12px;
    color: var(--accent-primary);
    font-size: .8rem;
}

.user-info img {
    height: 48px;
    border-radius: 50%;
}

.nav-action {
    padding: calc(var(--space) / 2) var(--space);
    border-radius: var(--border-radius);
    border: 1px solid transparent;
    background-color: var(--accent-secondary);
    color: var(--bg-secondary);
    cursor: pointer;
    transition: filter .2s ease;
    font-size: .8rem;
}

.nav-action:hover {
    filter: brightness(1.08);
}

.nav-action:active {
    transform: scale(1.01);
}

.nav-action:focus {
    outline-color: var(--accent-primary);
}


/* MAIN */

.projects {
    background-color: var(--bg-primary);
    grid-area: 2 / 2 / 3 / 3;
    border-radius: var(--border-radius);
    padding: var(--space);
}

.projects h3 {
    margin-bottom: var(--space);
}

.projects-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: var(--space);
}

.project {
    background-color: var(--bg-secondary);
    border-radius: var(--border-radius);
    padding: var(--space);
    position: relative;
    display: flex;
    flex-direction: column;
}

.project::before {
    content: "";
    display: block;
    height: 1.1em;
    width: 5px;
    border-radius: var(--border-radius);
    background-color: var(--accent-primary);
    position: absolute;
    left: calc(var(--space) / 2);
}

.project h4 {
    color: var(--accent-primary);
}

.project p {
    color: var(--color-secondary);
    font-size: .85rem;
    flex: 1;
    margin-top: calc(var(--space) / 2);
}

.project-footer {
    margin-top: var(--space);
    padding-top: 8px;
    border-top: 1px solid var(--bg-main);
    width: 100%;
    display: grid;
    grid-template-rows: 24px;
    grid-template-columns: 24px;
    grid-auto-columns: 24px;
    grid-auto-flow: column;
    gap: 8px;
    justify-content: end;
    flex: 0;
}

/* INFO */

.info {
    background-color: var(--bg-primary);
    grid-area: 2 / 3 / 3 / 4;
    border-radius: var(--border-radius);
    padding: var(--space);
}

.news-card {
    margin-top: var(--space);
}

.news-card p {
    font-size: .74rem;
    color: var(--color-secondary);
}

/* Mobile breakpoint */

@media (max-width: 785px) {
    :root {
        --space: 8px;
        font-size: .9em;
    }
    .sidebar {
        font-size: 0;
        grid-row-end: 4;
    }
    .sidebar .logo {
        flex-direction: column;
    }
    .sidebar-item {
        flex-direction: column;
    }
    .sidebar-footer {
        display: none;
    }

    .nav-row:last-of-type {
        grid-template-rows: repeat(2, 1fr);
        grid-template-columns: repeat(auto-fit, minmax(32px, 1fr));
    }
    .nav-action {
        grid-row: 2;
    }
    .user-info {
        grid-column-end: span 3;
    }

    .project::before {
        width: 3px;
    }
    .projects {
        grid-column: 2 / 4;
    }

    .info {
        grid-column: 2 / 4;
        grid-row: 3;
    }
}